@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
  background-color: white;
}

.fade-in-1s {
  animation: fadeIn 1s;
}
.fade-in-2s {
  animation: fadeIn 2s;
}
.fade-in-3s {
  animation: fadeIn 3s;
}

.bg-gradient {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
